//colors

$color-dark-blue: #030047;
$color-accent-blue: #4351DE;
$color-gray: #6A6B77;
$color-white: #FEFEFF;

//font size

$fs-main-p: 1.25rem;
$fs-main-menu: 1rem;
$fs-main-title: 4.625rem;

//font family

$ff-nunito: 'Nunito', sans-serif;
$ff-roboto: 'Roboto', sans-serif;